<ai-navbar />
<mat-drawer-container class="container max-w-full">
  <mat-drawer mode="side" opened class="!bg-white">
    <ai-sidenav />
  </mat-drawer>

  <mat-drawer-content>

    <div class="breadcrumbs">
      <a routerLink="/nfl">NFL</a>
      <mat-icon svgIcon="arrow-right" aria-hidden="false"></mat-icon>
      <a routerLink="/afc-south">AFC South</a>
      <mat-icon svgIcon="arrow-right" aria-hidden="false"></mat-icon>
      <a>Tennessee</a>
    </div>

    <router-outlet />

  </mat-drawer-content>
</mat-drawer-container>
<ai-footer />
<div class="watermark watermark-1">Tennessee</div>