<div class="content">
    <ai-photo-container *ngIf="articles.length" [article]="articles[0]"/>
    <div class="main">
        <ai-card *ngFor="let article of articles" [article]="article"/>
    </div>
    <div class="bottom">
        <div class="left" *ngIf="popular.length">
            <ai-small-divider title="MOST POPULAR"/>
            <ai-card *ngFor="let article of popular" [article]="article" class="mini"/>
        </div>
        <div class="right" *ngIf="commented.length">
            <ai-small-divider title="MOST COMMENTED"/>
            <ai-card *ngFor="let article of commented" [article]="article" class="mini"/>
        </div>
    </div>
</div>
<div class="side">
    <div class="watermark watermark-2">NEWS</div>
    <div class="cards">
        <ai-side-card *ngFor="let article of side" [article]="article"></ai-side-card>
    </div>
</div>