<div *ngIf="article" class="photo-container">
    <img class="photo" [src]="article.image_url" alt="Main article" />
    <div class="info">
        <div class="publish">Published / {{ article.created_at | date: 'dd.MM.yyyy'}}</div>
        <div class="title">{{article.title}}</div>
        <div class="body">{{article.short_description}}</div>

        <a *ngIf="router.url.includes('article'); else more" class="share" routerLink="/share">
            <mat-icon svgIcon="share" aria-hidden="false" aria-label="Share"></mat-icon>
            <span>Share</span>
        </a>
        <ng-template #more>
            <a class="more" routerLink="/article/1">
                More
            </a>
        </ng-template>
    </div>
</div>