<div *ngIf="article" class="side-card" [ngClass]="{'space': !article.title}">
    <a class="side-main" [routerLink]="article.id">
        <div class="side-main-part">
            <div *ngIf="article.title" class="card-title">{{article.title}}</div>
            <img [src]="article.image_url" alt="Facebook">
        </div>
        <div *ngIf="article.short_description" class="card-text">{{article.short_description}}</div>
    </a>
    <div class="card-action" *ngIf="article.like">
        <div class="card-like">Like us on Facebook</div>
        <a class="card-like-button" routerLink="/like">
            <mat-icon svgIcon="thumb" aria-hidden="false" aria-label="Like"></mat-icon>
            <span>Like</span>    
        </a>
    </div>
</div>