<div class="left">
    <a routerLink="/" class="logo">
        <ai-logo />
    </a>
    <img src="photo/login.png" alt="Login page" draggable="false">
</div>
<div class="right">
    <div class="top">
        @if (isLogin) {
            <div class="text">Don't have an account?</div>
            <a class="button" routerLink="/sign-up">Get Started</a>
        } @else {
            <div class="text">Already have an account?</div>
            <a class="button" routerLink="/log-in">Log in</a>
        }
    </div>
    <div class="main">
        <form class="section" [formGroup]="form" (submit)="onSave()">
            <div class="section-text">{{isLogin ? 'Log in to Sports Hub' : 'Create Account'}}</div>
            <div class="social">
                <a routerLink="/facebook">
                    <mat-icon svgIcon="fb-circle" aria-hidden="false" aria-label="Facebook"></mat-icon>
                </a>
                <a routerLink="/gmail">
                    <mat-icon svgIcon="gmail-circle" aria-hidden="false" aria-label="Gmail"></mat-icon>
                </a>
            </div>
            @if (!isLogin) {
                <div class="top-title">Or use your email for registration:</div>
            }
            <div class="input">
                <div class="top-section">
                    <div class="field-text">Email address</div>
                </div>
                <input matInput formControlName="email" type="email">
                @if (isInvalid('email')) {
                  <p class="error-message">Please enter a valid email address.</p>
                }
            </div>
            <div class="input">
                <div class="top-section">
                    <div class="field-text">Password</div>
                    @if (isLogin) {
                      <a class="forgot" routerLink="/forgot">Forgot password?</a>
                    }
                </div>
                <input matInput formControlName="password" type="password">
                @if (isInvalid('password')) {
                    <p class="error-message">Please enter a password.</p>
                }
            </div>
            @if (!isLogin) {
                <div class="input">
                    <div class="top-section">
                        <div class="field-text
                        ">Confirm password</div>
                    </div>
                    <input matInput formControlName="password_confirmation" type="password">
                    @if (isInvalid('password_confirmation')) {
                        <p class="error-message">Please enter a password.</p>
                    }
                </div>
            }
            <button type="submit">Log in</button>
        </form>
    </div>
</div>